@use "../abstracts/index" as *;

.clip {
  &__footer {
    background-color: $color-footer;
    padding: 5rem 0;

    @media (min-width: 1140px) {
      padding: 4rem 15rem 1rem;
      display: grid;
      grid-template-columns: auto 1fr 1fr;
      grid-template-rows: 1fr auto;
      gap: 3rem 15rem;
    }
  }

  &__list {
    list-style: none;
    margin: 5rem 0;

    @media (min-width: 1140px) {
      grid-column: 2 / 3;
      grid-row: 1/2;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
      margin: unset;
      text-align: left;
      gap: 2rem;
    }
  }

  &__item {
    margin-bottom: 3rem;

    @media (min-width: 1140px) {
      margin: unset;
    }
  }

  &__link {
    &:link,
    &:visited {
      color: $color-grayishBlue;
      text-decoration: none;
      font-size: 1.7rem;
      font-weight: 600;
      transition: all 0.2s;
    }

    &:active,
    &:hover {
      cursor: pointer;
      color: $color-StrongCyan;
    }
  }

  &__social {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;

    @media (min-width: 1140px) {
      grid-column: 3 / 4;
      grid-row: 1/2;
      margin-left: auto;
    }

    &--item {
    }

    &--link {
    }

    &--icon {
      fill: $color-darkGrayishBlue;
      transition: all 0.2s;

      &:hover {
        fill: $color-StrongCyan;
      }
    }
  }
  &__attribution {
    background-color: $color-footer;
    width: 100%;
    font-size: clamp(1.1rem, 2vw, 1.2rem);
    text-align: center;
    margin: 0 auto;
    padding: 2rem 0 0 0;
    grid-column: 1/4;
    grid-row: 2/3;

    &-link:link,
    &-link:visited {
      text-transform: uppercase;
      color: $color-StrongCyan;
      text-decoration: none;
      font-weight: 400;
    }

    &-link:hover,
    &-link:active {
      color: $color-StrongCyan;
      text-decoration: underline;
    }
  }
}
