@use "../abstracts/index" as *;

.clip {
  &__footer {
    background-color: $color-footer;
    padding: 5rem 0;
    @media (min-width: 1140px) {
      padding: 4rem 15rem;
      display: grid;
      grid-template-columns: auto 1fr 1fr;
      gap: 15rem;
    }
  }

  &__list {
    list-style: none;
    margin: 5rem 0;
    @media (min-width: 1140px) {
      grid-column: 2 / 3;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
      margin: unset;
      text-align: left;
      gap: 2rem;
    }
  }

  &__item {
    margin-bottom: 3rem;
    @media (min-width: 1140px) {
      margin: unset;
    }
  }

  &__link {
    &:link,
    &:visited {
      color: $color-grayishBlue;
      text-decoration: none;
      font-size: 1.7rem;
      font-weight: 600;
    }
  }

  &__social {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    @media (min-width: 1140px) {
      grid-column: 3 / 4;
      margin-left: auto;
    }

    &--item {
    }

    &--link {
    }
  }
  // &__attribution {
  //   width: 100%;
  //   font-size: clamp(1.2rem, 2vw, 1.4rem);
  //   text-align: center;
  //   margin: 0 auto;
  //   padding: 0rem 0 1rem 0;

  //   &-link:link,
  //   &-link:visited {
  //     text-transform: uppercase;
  //     color: $color-primary;
  //     text-decoration: none;
  //     font-weight: 400;
  //   }

  //   &-link:hover,
  //   &-link:active {
  //     color: $color-primary;
  //     text-decoration: underline;
  //   }
  // }
}
