@use "../abstracts/index" as *;

.clip {
  &__header {
    background-image: url(images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50rem;
    padding: 13rem 0;

    @media (min-width: 1140px) {
      background-image: url(../images/bg-header-desktop.png);
    }
  }

  &__logo {
    &--primary {
    }

    &--secondary {
      width: 5.5rem;

      @media (min-width: 1140px) {
        grid-column: 1/2;
        justify-items: center;
      }
    }
  }

  &__heading {
    font-size: clamp(3.2rem, 3.1vw, 5rem);
    margin: 5rem 0 2rem 0;

    &--primary {
    }

    &--secondary {
      font-size: clamp(2.8rem, 2.8vw, 3.5rem);
    }

    &--tertiary {
      font-size: 2.3rem;
    }

    &--snippets {
      @media (min-width: 1140px) {
        margin: 5rem 0 0rem 0;
      }
    }
  }

  &__subheading {
    color: $color-grayishBlue;
    font-size: clamp(1.6rem, 1.7vw, 2rem);
    padding: 0 0.4rem;
    line-height: 1.7;
    max-width: 70rem;
    margin: 0 auto 5rem auto;

    @media (min-width: 1140px) {
      margin: 0 auto 8rem auto;
    }
    &--primary {
    }

    &--secondary {
      font-size: clamp(1.6rem, 1.6vw, 1.75rem);
    }

    &--tertiary {
      font-size: 1.6rem;
    }

    &--access {
      padding: 0 2rem;
    }
  }

  &__main {
  }
}
