.workflow {
  &__section {
    padding: 0 3rem 10rem 3rem;
  }

  &__details {
  }

  &__detail {
  }

  &__blacklist {
  }

  &__text {
  }

  &__preview {
  }

  &__partners {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6rem;
  }

  &__google {
  }

  &__ibm {
  }

  &__microsoft {
  }

  &__hp {
  }

  &__vector {
  }
}
