.workflow {
  &__section {
    padding: 0 3rem 10rem 3rem;
  }

  &__details {
    @media (min-width: 810px) {
      display: flex;
      align-items: first baseline;
      justify-content: center;
      margin: 10rem 0 5rem 0;
    }
  }

  &__detail {
    @media (min-width: 1140px) {
      max-width: 36rem;
    }
  }

  &__blacklist {
  }

  &__text {
  }

  &__preview {
  }

  &__partners {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    @media (min-width: 810px) {
      flex-direction: row;
    }
  }

  &__picture {
    width: clamp(10rem, 14vw, 16rem);
    &--google {
    }

    &--ibm {
    }

    &--microsoft {
    }

    &--hp {
    }

    &--vector {
    }
  }
}
